<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (sucursal()) {
      <div>
        <h2 data-cy="sucursalDetailsHeading"><span jhiTranslate="aquaManagerApp.sucursal.detail.title">Sucursal</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ sucursal()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="aquaManagerApp.sucursal.nombre">Nombre</span></dt>
          <dd>
            <span>{{ sucursal()!.nombre }}</span>
          </dd>
          <dt><span jhiTranslate="aquaManagerApp.sucursal.direccion">Direccion</span></dt>
          <dd>
            <span>{{ sucursal()!.direccion }}</span>
          </dd>
          <dt><span jhiTranslate="aquaManagerApp.sucursal.telefono">Telefono</span></dt>
          <dd>
            <span>{{ sucursal()!.telefono }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/sucursal', sucursal()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
